.header {
  width: -moz-available;
  width: -webkit-fill-available;
  padding: 48px 83px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  z-index: 101;

}

@media (max-device-width: 479px) and (min-device-width: 360px) {
  .header {
    padding: 48px 35px;
  }
}